.item {
    align-items: center;
    color: rgb(88, 88, 88);
    cursor: pointer;
    display: flex;
    font-size: 14px;
    height: 40px;

    justify-content: center;
    width: 40px;
    margin: 5px;
    border: 1px solid rgb(88, 88, 88);
}

.disabled-page {
    color: black;
    background-color: aquamarine;

}

.active {
    background-color: rgba(251, 233, 70, 1);
    color: black;

    border: none;
}

.break-me {
    color: blue;
}

.next {
    color: white;
    background-color: black;
    font-size: 4px;
    height: 40px;
    position: relative;
    width: 40px;
}

.pagination {
    align-items: center;

    display: flex;
    flex-direction: row;
    height: 60px;
    justify-content: center;
    list-style-type: none;
    position: relative;
    width: 100%;
}

.pagination-page {
    font-weight: 700;
}

.pagination-page > a {
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 22.5%;
}

.previous {
    color: white;
    background-color: black;
    font-size: 4px;
    height: 40px;
    position: relative;
    width: 40px;


    height: 40px;


    width: 40px;
}