.root {
  /* font-family: 'Work Sans', sans-serif; */
  font-family: 'Work Sans', sans-serif;
}



.react-datepicker__day-name, .react-datepicker__day, .react-datepicker__time-name {
  color: #000;
  display: inline-block;
  width: 2rem;
  line-height: 1.7rem;
  text-align: center;
  margin: 2rem;
  width: 40px;
 
  border: 1px solid black;
}