.root {
  /* font-family: 'Work Sans', sans-serif; */
  font-family: 'Work Sans', sans-serif;
}



.react-datepicker__day-name, .react-datepicker__day, .react-datepicker__time-name {
  color: #000;
  display: inline-block;
  max-width: 80px !important;
  line-height: 20px !important;
  text-align: center;
  margin: 8px !important;
 
 
 
  
}

.react-datepicker__header {
  text-align: center;
  background-color:rgba(251, 233, 70, 1) !important;
  border-bottom: 1px solid #aeaeae;
  border-top-left-radius: 0.3rem;
  padding: 8px 0;
  position: relative;
}

.react-datepicker__day--selected, .react-datepicker__day--in-selecting-range, .react-datepicker__day--in-range, .react-datepicker__month-text--selected, .react-datepicker__month-text--in-selecting-range, .react-datepicker__month-text--in-range, .react-datepicker__quarter-text--selected, .react-datepicker__quarter-text--in-selecting-range, .react-datepicker__quarter-text--in-range, .react-datepicker__year-text--selected, .react-datepicker__year-text--in-selecting-range, .react-datepicker__year-text--in-range{
  background-color: rgba(251, 233, 70, 1) !important ;
  border-radius: 0px !important;
  color: #000 !important;
  opacity: 50% I !important;
}

.react-datepicker {
  font-family: 'Work Sans', sans-serif !important;
  font-weight: 300 !important;
  font-size: 0.8rem;
  background-color: #fff;
  color: #000;
  border: 1px solid #aeaeae;
  border-radius: 0px !important;
  display: inline-block;
  position: relative;
}